

.casilla{
    background-color: lightgray;
    height: 60px;
    width: 60px;

    

    
}
.casilla_bomba{
   color: red;

}
.casilla_noBomba{
color: blue;

    }


.finalJuego
{    
z-index: 3;
position:absolute;
margin-top: 5px;
margin-left: 5%;
color: darkred;
}
.JuegoData
{
    position: relative;
}