<h1>  Buscaminas </h1>

<button (click)=Jugar()> Jugar   </button>

<div class="tablero">   
<tr *ngFor="let filas of miJuego.tablero " >    
    <td *ngFor= "let casilla of filas"> 
        <div class="casilla" (click)="miJuego.DescubrirCasilla(casilla.coordenada)" >
            <div *ngIf="casilla.seleccion"> 
                
                <div class="casilla_bomba" *ngIf="casilla.tieneMina" >
                        Boom
                </div>

                <div class="casilla_noBomba" *ngIf="!casilla.tieneMina">
                    
                    {{casilla.minasCerca}}
                </div>
                    

            </div>
            </div>  
    
    </td>
</tr>

<div class="finalJuego" *ngIf="miJuego.final">
<h1><img src="BOMBA111-300x300.gif" alt="">></h1> 
</div>

</div>


<div >Minas Encontradas:{{miJuego.minasEncontradas}} </div>
<div >Cantidad de minas:{{miJuego.cantidadMinas}} </div>
<button></button>



   
     
     
      
  
