.casilla{
    background-color: lightgray;
    height: 45px;
    width: 45px;
    border: 5px;
    
}
.casilla_bomba{
   background-color: red;
}
.casilla_noBomba{
color: blue;
    }


.finalJuego
{    
z-index: 3;
position: absolute;
margin-top: 5px;
margin-left: 5%;
color: darkred;
}